@import "tailwindcss";

/* Root Colors */
:root {
  --background: #ffffff;
  --foreground: #212529;
  --accent-color: #000000;
}

/* Fonts */
:root {
  --default-font: "Inconsolata", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
/* Theme config */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent-color);

  /* Tailwind v4 Breakpoints */
  --breakpoint-tablet: 576px;
  --breakpoint-desktop: 768px;
  --breakpoint-huge: 992px;
}

/* Dark Mode */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* Base body */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--default-font);
}
