@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #e9dfdf;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #ffff;
  color: #212529;
  font-family: Arial, Helvetica, sans-serif;
}

/* Tailwind custom CSS */

/* Mobile-first breakpoints */
@custom-media --tablet (min-width: 576px);
@custom-media --desktop (min-width: 768px);

/* TABLET (min-width: 576px) */
@media (--tablet) {
  .portfolio-footer {
    @apply max-w-[540px];
  }
}

/* DESKTOP (min-width: 768px) */
@media (--desktop) {
  .portfolio-footer {
    @apply max-w-[720px];
  }
}
